:root {
  font-family: Noto Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100vh;
  /* background-size: 100% 100%; */
  background-image: url(assets/bkgDots.svg);
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
